nav {
  display: flex;
  padding: 1.5rem 1.2rem;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 1.1rem;

  }

  div {
    font-weight: 600;
    // font-size: 0.8rem;

  }

  .theme-switcher {
    cursor: pointer;
  }

  .fa-moon-o {
    padding-right: 0.5rem;
  }

  @media (min-width: 426px) {
    padding: 1.75rem 5rem;
    h2 {
      font-size: 1.3rem;
    }

    div {
      // margin-top: 0.5rem;
      // font-size: 1rem;
    }
  }

  @media (max-width: 374px) {
    h2 {
      font-size: 1rem;
    }
    div {
      font-size: 0.8rem;
      margin-top: 0.25rem;
    }
  }

  :host-context(.light) nav {
    background-color: var(--l-element);
  }

  :host-context(.dark) nav {
    background-color: var(--d-element);
  }
}