.container {
  padding: 0 3%;
  width: 100%;
}

ul {
  width: 100%;
  height: 100%;
  padding: 0%;
  flex-direction: column;
  margin: 0px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 748px) {
  ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1000px) {
  .flex-center {
    justify-content: space-evenly;
  }
}


.country-filters {
  margin: 2rem 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  @media (min-width: 1441px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0rem;
    justify-content: space-between;
  }
  @media (min-width: 376px) and (max-width: 1440px) {
    padding: 0 3rem;
    justify-content: space-between;
  }

  // app-dropdown {
  //   width: 60%;
  //   @media (min-width: 376px) {
  //     width: 25%;
  //   }
  // }

  .search-bar {
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 1rem;
    @media (min-width: 376px) {
      min-width: 33%;
    }


    span {
      font-size: 1rem;
      padding-right: 0.5rem;
    }
    input {
      font-size: 1rem;
      border: none;
      background-color: inherit;
    }
  }

  :host-context(.light) {
    .search-bar {
      background-color: var(--l-element);
      color: var(--l-input);
      input::placeholder {
        color: var(--l-input);
      }
    }
  }

  :host-context(.dark) {
    .search-bar {
      background-color: var(--d-element);
      color: var(--d-text);
      input::placeholder {
        color: var(--d-text);
      }

      input:focus {
        color: var(--d-text);
      }
    }

  }
}